@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
  --pink: #faaca8;
  --purple: #6A1992;
  --gray: #F7F7FB;
  --main-color: var(--gray);
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: var(--main-color);
  background-image: linear-gradient(19deg, var(--main-color) 0%, #ddd6f3 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

.chat-form input:focus-visible {
  outline: none;
}

.chat-message.user {
  @apply items-end;
}
.chat-message.bot {
  @apply items-start;
}

.chat-message.user .chat-bubble{
  @apply bg-purple-900 text-white p-4 rounded-3xl rounded-br-none w-fit;
}
.chat-message.bot .chat-bubble{
  @apply bg-white p-4 rounded-3xl rounded-bl-none w-fit;
}